@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h4 {
      @apply  mt-3 mb-2  font-semibold  text-2xl;
    }
    .info {
     @apply bg-green-200 p-3 my-3
    }
    p {
        @apply mb-3 
    }
    .exlink{
        @apply text-blue-500
    }
  }

  @layer utilities {
    .scrollbar {
        scrollbar-color: #fecaca white;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #fecaca;
        }
    }
}